@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

body,html{
  width:100%;
  height: 100%;

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

body{
  margin:0;
  padding:0;
  /* background:#29b6f6; */
}

/*Moving bubbles on Portfolio*/
.circles{
  position:absolute;
  padding-top: 7em;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.circle{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-out;
}
.circle:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.circle:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.circle:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.circle:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.circle:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.circle:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.circle:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.circle:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.circle:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.circle:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

/**********************************Body******************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/**********************************Menu******************************/

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 100px;
  transition: 0.5s ease;
  justify-content: center;
  background-color: #000;
}

header.main{
  background-color: transparent;
}


header .navigation{
  position: relative;
}


header .navigation .navigation-items a{
  /* position: relative; */
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
}


header .navigation .navigation-items a:hover:before{
  width: 20%;
}


/**********************************Main Banner with Image and Black background******************************/
section {
  padding: 200px 200px;
}


.home{
  z-index: 777;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: right;
  /* min-height: 200vh; */
  flex-direction: column;

}

/**********************************Curve before About section******************************/
.black{
  background-color: #000;
  padding-top: 44em;
}

.custom-shape-divider-top-1658364333 {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1658364333 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1658364333 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1658356513 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658356513 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 192px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658356513 .shape-fill {
  fill: #f1f1f1;
}


/**********************************B&W TO COLOUR IMAGE******************************/


img.main{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
 -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 filter: grayscale(100%);
 filter: gray; /* IE 6-9 */
 border-radius: 25px;
}

img.main:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

/**********************************SOCIAL MEDIA WHITE TO COLOUR******************************/

.media-icons .fa-instagram:hover{
  color: black;
}

 .media-icons .fa-twitter:hover{
  color: #00acee;
}


/**********************************Typing text******************************/


.intro{
  color: white;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  padding-left: 4em;
}

svg{
  width: 100%; height: auto; 
}

.typing{
  position: absolute;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 70px;
  
}

.typing::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 1px solid white;
  animation: blink 0.5s infinite ease;
}


@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



/**********************************About******************************/


/* Don't display the two columns while the person hasn't clicked the button "Read more"*/
.page-contain{
  display: none;
}

/* Shows the two columns when clicking button "Read more" */
.show {
  display: flex;
  min-height: 0vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-family: "Open Sans", sans-serif;
  background-color: black;
}


/* Button for opening more */
#add{
  background-color: black;
  color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}


/* First section with first data card */
.page-containt{
  display: flex;
  min-height: 0vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

/* Second section with two data cards */
.page-contain .data-card {
  min-height: 70em;
  min-width: 45%;
}


.data-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  align-items: center;
  background: black;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #ffffff;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid black;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: grey;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}
.data-card p {
  color: white;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  text-align: center;
  /* transform: translateY(-1em); */
  /* transition: opacity 0.45s ease, transform 0.5s ease; */
}
.data-card .link-text {
  display: block;
  color: darkgrey;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}

.data-card:hover {
  background: grey;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #ffffff;
  border-bottom-color: darkgrey;
}
.data-card:hover h4 {
  color: #ffffff;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}

#add:hover{
  background-color: black;
  color: white;
}

.data-card:hover .link-text {
  color: #ffffff;
}

.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #ffffff;
} 

/* When scrolling - element revealed when Javascript condition met (window height) */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal2{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}


.reveal2.active{
  transform: translateY(0px);
  opacity: 1;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}


/*************************************************Media Icons *******************************************************/

 .media-icons{
  z-index: 888;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
  font-size: 2em;
  justify-content: center;
  background-color: black;
  padding-top: 1em;
}

 .media-icons a{
  font-size: 1.6em;
  transition: 0.3s ease;
  padding-top: 1em;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 1em;
  color: white;

}

 .media-icons a:hover {
  transform: scale(1.3);
  
}

 .media-icons .fa-linkedin:hover{
  color: #0072b1;
}

.media-icons .fa-instagram:hover{
  color: black;
}

 .media-icons .fa-twitter:hover{
  color: #00acee;
}
/******************Footer***********************/

footer p{
  z-index: 888;
  width: 100%;
  display: flex;
  transition: 0.5s ease;
  font-size: 1em;
  justify-content: center;
  color: white;
  background-color: black;
  padding-bottom: 0.5em;
}


/****************************************************** MEDIA QUERIES************************************ */

@media (max-width: 1637px){


  header .navigation .navigation-items a{
    margin-left: 40px;
    margin-right: 40px;
    
  }

}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    margin-right: 20%;
    
  }

  .home .media-icons a{
    font-size: 0.7em;
    justify-content: center;
    
  }


  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
    
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: white;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url('../img/menu.png') no-repeat;
    background-color: transparent;
    background-size: 70px;
    width:  70px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    z-index: -1;
  }

  .menu-btn.active{
    z-index: 999;
    background: url('menu.png')no-repeat;
    background-size: 25px;
    transition: 0.3s ease;
  }

  .typing::after{
    height: 100%;
  }

  .home .typing{
    margin-right: 5em;
    overflow:hidden;
  }

  .page-contain{
    flex-direction: column;
  } 

  .page-contain.data-card{
    max-width: 10em;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 1em;
    line-height: 60px;
  }
  .typing::after{
    height: 100%;
  }

  .media-icons a{
    font-size: 0.7em;
    justify-content: center;
    padding-left: 4em; 
    padding-right: 4em;

    
  }

}
      
/******************************************************* JOURNEY *****************************************************/

header.other {
  background-color: white; 
}

header.other .navigation .navigation-items a{
  color: black;
}

/* header.other .navigation .navigation-items a:hover
{
      
} */

.container.journey{
  margin-top: 20em;
  /* padding: 2rem;
  padding-top: 20em;
  margin-top: 200px;
  margin: 0 auto; */
  margin-bottom: -50px;
  color: white;
  padding-bottom: -50px;
  background-color: black;
}

.data-card.tl, h4{
  padding: 1em;
  text-align: center;

}

.dark{
  background-color: black;
}

.bubble::after{
  content: '';
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  position: absolute;
  left: 0;
  top: 10em;
  height: 25%;
  width: 100%;
  background-color: #000;
}

/* .container.journey.circle, .top-section h1 p{
  color: black;
} */


.top-section{
  text-align: center;
  padding: 4rem 0;
  margin: 0 auto;
  color: white;
  width: 500px;
  top: -10;
}


h1{
  font-weight: 400;
  color: #ffffff;
  font-size: 3.5em;
  line-height: 1;
  letter-spacing: 1px;
  color: white;

}



.top-section p{
  font-size: 1em;
}

.bubble2::after{
  content: '';
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%;
  position: absolute;
  left: 0;
  height: 15%;
  width: 100%;
  background-color: black;
}


.timeline{
  position: relative;
  min-height: 150px;
  width: 100%;
}

.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: white;

}

.line:before,
.line:after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.line:after{
  bottom: 0;
}

.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.contentj{
  width: calc(50% - 2rem);
}

.contentj img{
  width: 300px;
  height: 200px;
}

.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}

.media-icons.tl{
  padding-top: 5em;
  background-color: white;
}

.media-icons.tl a{
  color: black;
}

footer.tl p{
  background-color: white;
  color: black;
}
/******************************PORTFOLIO***************************/

/*PORTFOLIO*/
body.portfolio{
  width: 100vw;
  background-color: black;
  margin: 0;
  font-family: helvetica;
}

.intro3{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro3 h4{
  color: white;
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.intro3 h5{
  color: gray;
  font-size: 3em;
}

.intro3 h6{
  font-size: 2em;
}


/* .about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: black;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
} */

.wrapper {
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

section .content{
  padding: 0;
}
.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  padding-top: 400px;
  margin-left: 50px;
  margin-right: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.card {

    min-height: 400px;
    background-color: white;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius:50%;
/* 
  width: 100%;
  max-width: 300px;
  min-width: 400px;
  min-height: 400px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius:50%; */
  
}


.card img{
  width: 50%;
  height: 50%;

  border-radius: 25px;
  
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #000000 0%, #000000 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon2 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 00;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card:hover {
  height: 100%;
  border-radius:50%;
  padding: 3em;

  
}

.card:hover .info {
  height: 100%;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  
  max-height: 400px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon i {
  background: linear-gradient(90deg, gray, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

/***WAVES MOVING******/

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}



.media-icons.other{
  z-index: 888;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
  font-size: 2em;
  justify-content: center;
  background-color: white;
  padding-top: 1em;
}

.media-icons.other a{
  font-size: 1.6em;
  transition: 0.3s ease;
  padding-top: 1em;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 1em;
  color: black;

}

section.c{
    padding: 0;
}

.container.portfolio{
    width: 100%;
}

section.c .row .col-sm{
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 767px) {
  .wrapper {
    height: 700px;
  }
  
}

@media screen and (max-width: 1040px) {
  .content {
    flex-direction: column;
  }

  section.c{
    margin-top: 500px;
    margin-bottom: 300px;
    flex-direction: column;
  }

  .intro3{
    font-size: 50%;
  }

  .card img{
      width: 20%;
      height: 20%;
}

/******************************************************* CONTACT PAGE *****************************************************/

/* *,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.contact{
  background: linear-gradient(to bottom, #000000 0%, #343232 100%);
  font-size: 20px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 7000px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  min-height: 100vh;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 60px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: white;
}

.app-contact {
  margin-top: 4em;
  font-size: 20px;
  color: #888;
}

.app-form-group {
  margin-bottom: 150px;
  margin-top: 100px;

}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

button.app-form.button {
  font-size: 24px!important;
}


label{
  color: #888;
  font-size: 22px;
}
.app-form-control option {
  color: #888;
}


.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: black;
}


.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
} */

/* <section>
        <div class="background">
        <div class="container">
            <div class="screen">
              <div class="screen-header">
                <div class="screen-header-left">
                  <div class="screen-header-button close"></div>
                  <div class="screen-header-button maximize"></div>
                  <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                </div>
              </div>
              <div class="screen-body">
                <div class="screen-body-item left">
                  <div class="app-title">
                    <span>CONTACT</span>
                    <span>ME</span>
                  </div>
                  <div class="app-contact">Contact me on: +44 (0)78 3014 3489</div>
                  <div  style="font-size: 16px; margin-top: 0.5em;">Chat with me: https://calendly.com/nzube_/quick-chat</div>
                  <div class="app-contact"><img src="img/task.jpg" alt="..." style="height: 300px; width: 400px; margin-top: 3em; "></div>
                </div>
                <div class="screen-body-item">
                  <div class="app-form">
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="NAME">
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="EMAIL">
                    </div>
                    <div class="app-form-group">     
                    <label for="reason">Choose a reason:</label>
                    <select  class="app-form-control" name="reason" id="reason">
                      <option value="other">Other</option>
                      <option value="speak">Speaking Engagement</option>
                      <option value="consult">Consultation</option>
                    </select>
                    </div>

                    <!-- <div class="app-form-group">
                        <div class="dropdown">
                            <button class="dropbtn">REASON</button>
                            <div class="dropdown-content">
                              <a href="#">Book a Speaking Engagement</a>
                              <a href="#">Consultation</a>
                            </div>
                          </div>
                    </div> -->
                    <div class="app-form-group message">
                      <input class="app-form-control" placeholder="MESSAGE">
                    </div>
                    <div class="app-form-group buttons">
                      <button class="app-form-button" href="mailto:rachel.oyoo1@gmail.com">SEND</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    </section> */
